
# IMMOTA - Environment Variables
# Copy this file to .env and fill in your keys


# --- FREE KEYS (Active Now) ---
GROQ_API_KEY=your_groq_api_key_here         # Get free at: console.groq.com
NEWS_API_KEY=your_newsapi_key_here           # Get free at: newsapi.org


# PAID KEYS - Uncomment when ready to upgrade
# here i didnt use these keys therse are expensive after using these keys the model will predict more accuracy

# BLOOMBERG_API_KEY=your_key               # ~$2000/month
# POLYGON_API_KEY=your_key                 # ~$29/month
# REFINITIV_API_KEY=your_key               # ~$500/month
# COINMARKETCAP_API_KEY=your_key           # ~$79/month
# OANDA_API_KEY=your_key                   # ~$50/month
